<div class="container-fluid">
    <h1 class="text-center text-capitalize pt-5">About Us</h1>
    <hr class="w-25 mx-auto pb-5">

    <div class="row mb-5">
        <div class="col-lg-6 col-md-6 col-12">
            <img src="{% static 'images/img11.jpg' %}" class="img-fluid">

        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <h1>What is Yaatra?</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ipsa iusto, neque nisi odit
                perspiciatis soluta vero. Debitis dolorem dolorum illum modi quaerat Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Ad asperiores corporis cupiditate delectus dolor, esse harum
                impedit
                in incidunt ipsam magnam maxime natus neque odio quisquam tempora temporibus. Laudantium,
                nostrum!quas, similique tempora veritatis voluptatum? Fugit,
                <non class="lorem"></non>
            </p>
            <button type="Submit" class="btn btn-primary">Wanna know me</button>
        </div>

    </div>

</div>

